ion-grid.actions {
    padding: 0;

    ion-col {
        padding: 0;

        &:last-child {
            text-align: right;
        }
    }
}



.load-data {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    input, button {
        display: block;
    }

    input {
        width: 300px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid #DDD;
        padding: 10px;
        margin-right: 10px;
    }

    button {
        margin-top: 0;
    }
}


.previous {
    padding: 15px 0;

    button:first-child {
        padding: 0;
        margin-right: 15px;
        cursor: default;

        &:hover {
            background: none;
        }
    }
}


.table {
    margin: 30px 0 70px !important;
    font-size: 1.2em;
    
    td {
        padding: 15px 10px !important;
    }
}

.item {
    cursor: pointer;
}


// Bootstrap table for demonstration purpose only
.table{width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent}.table th,.table td{padding:0.75rem;vertical-align:top;border-top:1px solid #dee2e6}.table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6}.table tbody+tbody{border-top:2px solid #dee2e6}.table .table{background-color:#fff}.table-sm th,.table-sm td{padding:0.3rem}.table-bordered{border:1px solid #dee2e6}.table-bordered th,.table-bordered td{border:1px solid #dee2e6}.table-bordered thead th,.table-bordered thead td{border-bottom-width:2px}.table-borderless th,.table-borderless td,.table-borderless thead th,.table-borderless tbody+tbody{border:0}.table-striped tbody tr:nth-of-type(odd){background-color:#ecf0f1}.table-hover tbody tr:hover{background-color:rgba(0,0,0,0.075)}.table-primary,.table-primary>th,.table-primary>td{background-color:#c4c9ce}.table-hover .table-primary:hover{background-color:#b6bcc2}.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th{background-color:#b6bcc2}.table-secondary,.table-secondary>th,.table-secondary>td{background-color:#e1e6e6}.table-hover .table-secondary:hover{background-color:#d3dada}.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th{background-color:#d3dada}.table-success,.table-success>th,.table-success>td{background-color:#beece3}.table-hover .table-success:hover{background-color:#aae6db}.table-hover .table-success:hover>td,.table-hover .table-success:hover>th{background-color:#aae6db}.table-info,.table-info>th,.table-info>td{background-color:#c6e2f5}.table-hover .table-info:hover{background-color:#b0d7f1}.table-hover .table-info:hover>td,.table-hover .table-info:hover>th{background-color:#b0d7f1}.table-warning,.table-warning>th,.table-warning>td{background-color:#fce3bd}.table-hover .table-warning:hover{background-color:#fbd9a5}.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th{background-color:#fbd9a5}.table-danger,.table-danger>th,.table-danger>td{background-color:#f8cdc8}.table-hover .table-danger:hover{background-color:#f5b8b1}.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th{background-color:#f5b8b1}.table-light,.table-light>th,.table-light>td{background-color:#fafbfb}.table-hover .table-light:hover{background-color:#ecf0f0}.table-hover .table-light:hover>td,.table-hover .table-light:hover>th{background-color:#ecf0f0}.table-dark,.table-dark>th,.table-dark>td{background-color:#dadedf}.table-hover .table-dark:hover{background-color:#ccd2d3}.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th{background-color:#ccd2d3}.table-active,.table-active>th,.table-active>td{background-color:rgba(0,0,0,0.075)}.table-hover .table-active:hover{background-color:rgba(0,0,0,0.075)}.table-hover .table-active:hover>td,.table-hover .table-active:hover>th{background-color:rgba(0,0,0,0.075)}.table .thead-dark th{color:#fff;background-color:#212529;border-color:#32383e}.table .thead-light th{color:#7b8a8b;background-color:#ecf0f1;border-color:#dee2e6}.table-dark{color:#fff;background-color:#212529}.table-dark th,.table-dark td,.table-dark thead th{border-color:#32383e}.table-dark.table-bordered{border:0}.table-dark.table-striped tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,0.05)}.table-dark.table-hover tbody tr:hover{background-color:rgba(255,255,255,0.075)}@media (max-width: 575.98px){.table-responsive-sm{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-sm>.table-bordered{border:0}}@media (max-width: 767.98px){.table-responsive-md{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-md>.table-bordered{border:0}}@media (max-width: 991.98px){.table-responsive-lg{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-lg>.table-bordered{border:0}}@media (max-width: 1199.98px){.table-responsive-xl{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive-xl>.table-bordered{border:0}}.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.table-responsive>.table-bordered{border:0}
